.App {
  text-align: center;
}
.parent{
  padding: 1em;
  background-color: aquamarine;
  border-radius: 10px;
  width:300px;
    margin: 0 auto;
    margin-top:20px;
}
.child{
  background-color: azure;
  width:88%;
  padding: 1em;
}